body {
  background: radial-gradient( rgb(122, 141, 238) 0%, rgb(191, 152, 198) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: -300px;
  justify-content: space-around;
} */

.login-page {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  padding-top: 20px;
  height: 13vh;
  justify-content: space-between;
}

.login-label{
  display: flex;
  font-family:"Poppins";
  font-size: larger;
}

.hidden {
  display: none;
}

.title-container{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard,
.form-container-hidden{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 25px;
}

.trip-containers-wrapper {
  display: flex;
  justify-content: space-around; 
  font-size: medium;
}

.past-trips-container,
.upcoming-trips-container,
.pending-trips-container,
.money-spent-container,
.destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 2.5%;
  border-radius: 25px;
  background: whitesmoke;
  height: 400px;
  text-align: center;
  font-size: medium;
}

.fit-image {
  max-width: 100%; 
  max-height: 100%; 
}
